<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
</head>
<body>
<center>
    <a href="/index"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_Google_2013_Official.svg/1125px-Logo_Google_2013_Official.svg.png"  width="400"  alt="Image" /></a>
<br>
<form>
    <input type="text" name="query"> <br>
    <input type="checkbox" name="metric" value="tfidf">TFIDF<br>
    <input type="checkbox" name="metric" value="bm25">BM25<br>
    <input type="checkbox" name="metric" value="fasttext">FASTTEXT<br>
    <input type="checkbox" name="metric" value="elmo">ELMO<br>
    <div class="submission"><input type="submit" value="Поиск"></div>
</form>

</body>
</html>